		*{
		margin:0px;
		padding:0px;
		}
		.container{
			
			background:red;
			width:90%;
			margin:auto;
			overflow:hidden;
		}
		.row1{
		dispay:block;
		background:yellow;
		width:100%;
		clear:both;
		}
		.row2{
		background:green;
		width:100%;
		clear:both;
		}
		.col1{
		width:50%;
		float:left;
		background:red;
		}
		.col2{
		width:50%;
		float:left;
		background:blue;
		}
		.col3{
		width:50%;
		float:left;
		background:pink;
		}	
		.col4
		{background:brown;
		width:50%;
		float:left;
		}
		.row3{background:black;
		width:100%;
		clear:both;
		}
		.col5
		{background:red;
		width:50%;
		float:left;
		}
		.col6{
		background:yellow;
		width:50%;
		float:left;
		}
		.row4{
		background:black;
		width:100%;
		clear:both;
		}
		.col7{background:aliceblue;
		width:50%;
		float:left;
		}
		.col8{
		background:grey;
		width:50%;
		float:left;}
		.cola{
		background:maroon;
		width:25%;
		float:left;
		}
		.colb{
		background:green;
		width:25%;
		float:left;
		}
		.colc
		{background:silver;
		width:25%;
		float:left;
		}
		.cold
		{background:chocolate;
		width:25%;
		float:left;
		}
		.cole
		{background:goldenrod;
		width:25%;
		float:left;
		}
		.colf
		{background:lawngreen;
		width:25%;
		float:left;
		}
		.colg
		{background:aqua;
		width:25%;
		float:left;
		}
		.colh
		{background:hotpink;
		width:25%;
		float:left;
		}
		.coli
		{background:indianred;
		width:25%;
		float:left;
		}
		.colj
		{background:khaki;
		width:25%;
		float:left;
		}
		.colk
		{background:ivory;
		width:25%;
		float:left;
		}
		.coll
		{background:darkcyan;
		width:25%;
		float:left;
		}
		.colm
		{background:darkviolet;
		width:25%;
		float:left;
		}
		.coln
		{background:deeppink;
		width:25%;
		float:left;
		}
		.colo
		{background:deepskyblue;
		width:25%;
		float:left;
		}
		.colp{
		background:darkmagenta;
		width:25%;
		float:left;
		}
		.a{
		background:pink;
		width:12.5%;
		float:left;
		}
		.b{
		background:black;
		width:12.5%;
		color:white;
		float:left;
		}
		.c{
		background:magenta;
		width:12.5%;
		float:left;
		}
		.d{
		background:gold;
		width:12.5%;
		float:left;
		}
		.e{background:lime;
		width:12.5%;
		float:left;
		}
		.f{background:lightyellow;
		width:12.5%;
		float:left;
		}
		.g{background:lemonchiffon;
		width:12.5%;
		float:left;}
		.h{background:yellow;
		width:12.5%;
		float:left;
		}
